################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XLGearModifier
/XLGearModifier/bin/Debug
/XLGearModifier/obj
/XLGearModifier/References
/XLGearModifier/bin/Release
/XLGearModifier/Assets
/XLGearModifier.Unity/bin/Debug
/XLGearModifier.Unity/obj/Debug
/XLGearModifier.Unity/bin/Release
/XLGearModifier.Unity/obj/Release
/packages/Newtonsoft.Json.12.0.3
/XLGearModifier/XLGearModifier.csproj.user"XLGearModifier.blender\Skater Rigged for XLGM.blend" 
"XLGearModifier.blender\Skater Rigged for XLGM.blend1" 
/.vs
/packages/Newtonsoft.Json.13.0.1
/XLGearModifier.Gear/AssetBundles/StandaloneWindows
XLGearModifier.Gear/Assets/00. Redgouf Custom/
