################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XLGearModifier
/XLGearModifier/bin/Debug
/XLGearModifier/obj
/XLGearModifier/References
