################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XLGearModifier
/XLGearModifier/bin/Debug
/XLGearModifier/obj
/XLGearModifier/bin/Release
/XLGearModifier.Unity/bin/Debug
/XLGearModifier.Unity/obj/Debug
/XLGearModifier.Unity/bin/Release
/XLGearModifier.Unity/obj/Release
/packages/Newtonsoft.Json.12.0.3
/XLGearModifier/XLGearModifier.csproj.user
"XLGearModifier.blender\Skater Rigged for XLGM.blend" 
"XLGearModifier.blender\Skater Rigged for XLGM.blend1" 
"XLGearModifier.Gear/Assets/Gear Temp/Redgouf"
/.vs
/packages/Newtonsoft.Json.13.0.1
/XLGearModifier.Gear/AssetBundles/StandaloneWindows
/packages
/XLGearModifier.Unity.Editor/obj/Debug
/XLGearModifier.Unity.Editor/bin/Debug
